<div class="px-4 py-5 text-center">
    <h1 class="display-5 fw-bold">Submit your Recipe</h1>
    <div class="col-lg-6 mx-auto">
        <p>
            Share your amazing recipes with thousands of web developers accross the world. Fill our form to
            update your recipe.
        </p>
    </div>
</div>

<div class="row justify-content-center">

</div>


<form action="/recipe/update/<%=toUpdate._id %> " enctype="multipart/form-data" method="POST" class="form">
    <div class="row g-3">
        <div>
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" value="<%=toUpdate.email %> ">
        </div>
        <div class="col-12">
            <label for="name" class="form-label">Recipe Name</label>
            <input type="name" name="name" id="name" class="form-control" required value="<%=toUpdate.name %>">
        </div>
        <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <input type="description" name="description" id="description" class="form-control" required
                value="<%=toUpdate.description %>">
        </div>
        <div class="col-12">
            <label for="ingredients" class="form-label">Ingredients</label><br>
            <small> Exemple: Ice</small>
            <div class="ingredientList">
                <div class="ingredientDiv mb-1">
                    <% (toUpdate.ingredients).forEach(ingredient=> { %>
                        <input type="text" name="ingredients" class="form-control" required value="<%= ingredient %> ">
                        <% }) %>
                </div>
            </div>
        </div>

        <div class="col-12">
            <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+
                Ingredients</button>
        </div>
        <div class="col-12">
            <label for="category">Select Category</label>
            <select name="category" class="form-select form control" area-label="category" required>
                <option selected>Select Category</option>
                <option value="African">African</option>
                <option value="Thai">Thai</option>
                <option value="American">American</option>
                <option value="Chinese">Chinese</option>
                <option value="Mexican">Mexican</option>
                <option value="Indian">Indian</option>
                <option value="Europeen">Europeen</option>
            </select>
            <div class="col-12">
                <label for="image">Product Image</label>
                <input type="file" class="form-control" name="image" accept="image/*" required
                    value="<%=toUpdate.image %> ">
            </div>
            <div class="col-12 my-4 ">
                <button type="submit" class="btn btn-primary">Update Recipe</button>
            </div>
        </div>
    </div>
</form>
</div>
</div>